# Global timezone - See: https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#List
GLOBAL_TIMEZONE="Europe/London"

# Glodal docker settings
GLOBAL_RESTART_STRATEGY="always"


# Global directory paths
GLOBAL_DIR_USER_ROOT="/home/your-username/"

# Infra Root
INFRA_CONFIG_ROOT="${GLOBAL_DIR_USER_ROOT}/infra/core-apps/configs"

# Global volumes
GLOBAL_DOCKER_SOCK=/var/run/docker.sock:/var/run/docker.sock
GLOBAL_LOCALTIME=/etc/localtime:/etc/localtime:ro

# Port mappings
PM_PORTAINER_MAIN=9000:9000
PM_PORTAINER_WEBUI=9443:9443
PM_DOZZLE=8080:8080
PM_CADDY_HTTPS=443:443
PM_APACHE=80:80
PM_RADARR=7878:7878
PM_SONARR=8989:8989
PM_PROWLARR=9696:9696
PM_TDARR_WEBUI=8265:8265
PM_TDARR_SERVER=8266:8266
PM_CLEANUPARR=11011:11011
PM_FLARESOLVER=8191:8191
PM_SEERR=5050:5050
PM_TAUTULLI=8181:8181
PM_NZBGET=6789:6789
PM_QBITTORRENT_WEBUI=8070:8070
PM_QBITTORRENT_PRIVOXY=8118:8118
PM_QBITTORRENT_TCP=58946:58946
PM_QBITTORRENT_UDP=58946:58946/udp
PM_UPTIME_KUMA=3001:3001

# Cloudflare specific
CLOUDFLARE_TUNNEL_TOKEN=""
CLOUDFLARE_API_TOKEN=""

# Nord VPN specific

# A token is required for logging in to NordVPN. Please see the docs for token generation.
# The login token can be set through ENV or supplied into the container using secrets.
# Token in ENV, comment if you want to use tokenfile.
NORDVPN_TOKEN=""

# Enable debug mode, anything non-empty will ENABLE. Use this if you need more verbose error logging.
NORDVPN_MESHNET_DEBUG=ENABLED

# Healthcheck interval in seconds, default is 300.
NORDVPN_HEALTHCHECK_INTERVAL=300

# Healthcheck URL to verify if connectivity is up. Replace this with something on your Meshnet (if available), defaults to Google.
NORDVPN_HEALTHCHECK_URL=www.google.com

# Set a nickname for this device/instance on Meshnet, every peer will see and can use this nickname.
NORDVPN_NICKNAME="my-server-name"

# Meshnet permissions
# In this version of NordVPN, permissions must be configured directly on the client.
# Configuring peer permissions through the NordVPN account website is still in development.
# This container will run DENY configuration first, followed by ALLOW. ALLOW will overwrite the DENY!
# NordVPN currently ALLOWS all peers connected to Meshnet by default for Fileshare and Remote access services and DENIES Routing and Local network services.
# Peers must be entered with their FQDN/Name assigned by Meshnet, comma separated.

# DENY peer configuration, comma separated.
# Block peers from using this node as a router
NORDVPN_DENY_PEER_ROUTING=
# Block peers from accessing the local network of this node.
NORDVPN_DENY_PEER_LOCAL=
# Block peers from sharing files with this node.
NORDVPN_DENY_PEER_FILESHARE=
# Block peers from remote access to this node.
NORDVPN_DENY_PEER_REMOTE=

# ALLOW peer configuration
# Allow peers to use this node as a router
NORDVPN_ALLOW_PEER_ROUTING=home-nord_address_1.nord,home-nord_address_2.nord,home-nord_address_3.nord
# Allow peers to access the local network of this node (ROUTING permissions required!).
NORDVPN_ALLOW_PEER_LOCAL=
# Allow peers to  sharing files with this node.
NORDVPN_ALLOW_PEER_FILESHARE=
# Allow peers to use remote access on this node.
NORDVPN_ALLOW_PEER_REMOTE=