.env
.env.*
!.env.example
*.env
**/*.env

*/configs/
**/configs/
!*/configs/.gitkeep
!**/configs/.gitkeep

*/logs/
**/logs/
*.log

.idea/
.DS_Store
Thumbs.db

desktop.ini
*.tar.gz
*.bak

misc/
SETUP.md
SORT.md