# Global user/group IDs
GLOBAL_PUID="0"
GLOBAL_PGID="0"

# Global timezone - See: https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#List
GLOBAL_TIMEZONE="Europe/London"

# Glodal docker settings
GLOBAL_RESTART_STRATEGY="always"


# Global directory paths
GLOBAL_DIR_USER_ROOT="/home/your-username/"

# Infra Root
INFRA_CONFIG_ROOT="${GLOBAL_DIR_USER_ROOT}/infra/plex-server/configs"

# MFS combined Stream directory
STREAM="${GLOBAL_DIR_USER_ROOT}/stream"
STREAM_MEDIA="${STREAM}/media"


# Global volumes
GLOBAL_LOCALTIME=/etc/localtime:/etc/localtime:ro
GLOBAL_DRI=/dev/dri:dev/dri

# Plex specific
PLEX_CLAIM_CODE=""