# Global timezone - See: https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#List
GLOBAL_TIMEZONE="Europe/London"

# Glodal docker settings
GLOBAL_RESTART_STRATEGY="always"


# Global directory paths
GLOBAL_DIR_USER_ROOT="/home/your-username/"

# Infra Root
INFRA_CONFIG_ROOT="${GLOBAL_DIR_USER_ROOT}/infra/vaultwarden-server/configs"

# Global volumes
GLOBAL_LOCALTIME=/etc/localtime:/etc/localtime:ro

# Vaultwarden specific
VAULTWARDEN_ADMIN_TOKEN=""
VAULTWARDEN_DOMAIN=https://your.domain.com