# Global user/group IDs
GLOBAL_PUID="0"
GLOBAL_PGID="0"

# Global timezone - See: https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#List
GLOBAL_TIMEZONE="Europe/London"

# Glodal docker settings
GLOBAL_RESTART_STRATEGY="always"


# Global directory paths
GLOBAL_DIR_USER_ROOT="/home/your-username/"

# Infra Root
INFRA_CONFIG_ROOT="${GLOBAL_DIR_USER_ROOT}/infra/plex-apps/configs"

# MFS combined Stream directory
STREAM="${GLOBAL_DIR_USER_ROOT}/stream"
STREAM_MEDIA="${STREAM}/media"

# Mounted cache drive
CACHE="${GLOBAL_DIR_USER_ROOT}/cache"

# Global volumes
GLOBAL_DOCKER_SOCK=/var/run/docker.sock:/var/run/docker.sock
GLOBAL_LOCALTIME=/etc/localtime:/etc/localtime:ro
GLOBAL_DRI=/dev/dri:dev/dri

# Tdarr specific
TDARR_TRANSCODE_CACHE_VOLUME="${GLOBAL_DIR_USER_ROOT}/tdarr-cache"

# NZBGet specific
NZBGET_DOWNLOAD_BUFFER_VOLUME="${GLOBAL_DIR_USER_ROOT}/nzbget-buffer"
NZBGET_USERNAME=""
NZBGET_PASSWORD=""